doctype
html
  head
    title Node.Js demo for Mr Manuel Zamora
    link(rel='stylesheet', href='/css/animate-custom.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/docs.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/js/bootstrap.js')
    script(src='/js/dropdown.js')
    script(src='/js/html5shiv.js')
  body
    div.container
      div.demo_icon
        img(alt="demo_icon", src="/images/demo.png")
      div(class="mss_logo animate")
        img(alt="demo_icon", src="/images/mss_logo.png")
      header
        h1 Node.
         span Js
      section
        block content